/target/
/.idea/
/sber_homeworks.iml
/homework1/target/
/homework_collection/target/
/homework_reflection_annotation/target/
/homework_classloaders/target/
/homework_lambda_stream/target/
/homework_multithreading_1/target/
/homework_JMM/target/
/homework_concurrent/target/
/homework_jdbc/target/